@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Viga&family=Raleway:wght@300&display=swap');

//COLORS

$logo-c:  #234074;
$white: #fff;
$light-b: #a9b4c6;
$d-blue:  #25333f;
//FONTS
$logo: 'Viga';
